## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Labuhan,ID,86.92,moderate rain,-6.8844,112.2051,PT PPI Lamongan Tambak C
1,1,Hirara,JP,73.26,broken clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
2,3,Kismayo,SO,80.13,overcast clouds,-0.3582,42.5454,Agan-Hotel
3,6,Busselton,AU,83.28,broken clouds,-33.6500,115.3333,Observatory Guest House
4,9,Hithadhoo,MV,81.21,broken clouds,-0.6000,73.0833,Scoop Guest House

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Porto Novo")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Yenagoa")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Afikpo")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Lokoja")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Porto Novo")]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}, First Stop: {stop1}, Second Stop: {stop2}, Third Stop: {stop3}')

Start: (6.4965, 2.6036), End: (4.9247, 6.2642), First Stop: (5.8931, 7.9374), Second Stop: (7.8024, 6.743), Third Stop: (6.4965, 2.6036)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,399,Porto Novo,BJ,78.03,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
1,644,Yenagoa,NG,75.88,overcast clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
2,534,Afikpo,NG,73.85,broken clouds,5.8931,7.9374,P. Noble Hotels and Suite
3,201,Lokoja,NG,74.68,overcast clouds,7.8024,6.7430,Hotel Charvid
4,399,Porto Novo,BJ,78.03,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_temp = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<dt>Current Weather</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
trip_info = [info_box_temp.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
trip_locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(trip_locations, info_box_content=trip_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))